@charset "UTF-8";
a{
  color: black;
  text-decoration: none;
}

body{
  margin: 0;
  background: gray;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
}
header{
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow:  0 10px 20px rgba(0,0,0,0.25);
}
.container{
  height:70px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  margin: 0 auto;
  max-width: 1200px;

}
h1{
  font-size: 25px;
}
.area_nav_header{
  margin-left: auto;
}
.list_nav_header{
  display: flex;
  list-style: none;
}
.list_nav_header li+li{
  margin-left: 20px;
}
.list_nav_header li{
  font-size: 20px;
}

.kizi{
  margin: 0 auto;
  width: 80%;
  height: 500px;
  background-color:white;
}
.kizi{
  margin-top: 50px;
}
footer{
  background-color:#292e33;
}
.container1{
  height:190px;
  align-items: center;
  padding:40px;
  margin: 0 auto;
  max-width: 1200px;
color: white;

}
.copyright{
  text-align: center;
  color: white;
  padding-bottom: 20px;
}
