@charset "UTF-8";
.logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
header{
  width: 375px;
  margin: auto;
  display: flex;
  justify-content: space-between;

}
main{
background-image: url(gahag-005589.jpg);
height:700px;
background-size: cover;
background-position: center;
}
li{
  display: inline-block;
margin-top: 50px;
margin-left: 5px;
font-size: 1.2rem;
}
a{
  text-decoration: none;
  color: rgb(6, 6, 6);
}
a:hover{
  color: rgb(154, 171, 224);
}
.itadaki{
  margin-top: 20px;
  padding-top: 20px;

}
.aaaa{
  padding-top: 100px;
  color: rgb(249, 59, 9);
}
.btn{
  text-align: center;
margin-top:280px;
}
.bgbtn{
background-color: #0bd;
padding:10px 20px;
border-radius: 10%;
color:white;
}
